
*{
    margin: 0;
}

html{
    background-color: #51c4d3;
    width: 100%;
    height: 100%;
}
/*Todas la letras de color*/
a, p, span, label, legend{
    color: #d8e3e7;
    font-family: verdana;
}
a{
    text-decoration: none;
}

/*la primera cabecera*/
.cabecera1 {
    border: 2px;
    border-bottom-style: solid;
    border-color: black;
    border-width: 100%;

    background-color: #132c33;

    width: auto;
    height: 50px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    

    z-index: 5;
    left: 0;
    top: 0;
}
.cabecera1 > a + p{
    margin-left: 38%;
    margin-right: 38%;
}
.cabecera1 a:hover{
    background-color: #51c4d3;
}
/*la segunda cabecera*/
.cabecera2 {
    box-shadow: 0 5px 10px #132c33;
    border-width: 100%;
    width: auto;
    height: 50px;
    z-index: 3;

    top: 50px;
}


.cabecera2 ul{

    list-style: none;

    display: flex;
    flex-wrap: nowrap;

    padding: 0;

    height: 80px;
}

.cabecera2 li{
    height: 100%;
    width: 20%;
}
		
.cabecera2 li a {
	background-color: #132c33;
	color:#d8e3e7;
	text-decoration:none;
	width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.cabecera2 li a:hover {
	background-color: #126e82;
    
}


main{
    padding-top: 20px;
    display: grid;

    width: 100%;
    height: 100%;
    
    grid-template-rows: 20%, 20%, 20%, 20%, 20%, 20px;
    grid-template-columns: repeat(5, 20%);

}

/*El menu flotante*/
.menu{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-wrap: nowrap;

    justify-self: center;
    margin-top: 100px;

}
.menu ul li a:hover{
    background-color: #51c4d3;
    border-radius: 2px;
}


.menu ul{
    background-color: #132c33;
    border-style: outset;

    list-style: none;

    margin: 10px;
    padding: 25px;
}

.menu ul li{
    padding-top: 2mm;
    padding-bottom: 2mm;
}

/*el contenido*/
.formula{
    width: 70%;

    margin-left: 100px;
    margin-right: 100px;

    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;

    margin-top: 4mm;
    margin-bottom: 4mm;
    background-color: #126e82;
    border-radius: 4mm;

    justify-self: center;
}
fieldset{
    margin: 20px;
}
fieldset div{
    margin: 20px;
    color: #132c33;
    
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.reg{
    margin-top: 40px;
    margin-left: 42%;
    margin-right: 42%;
}
fieldset div label{
    padding-right: 10px;
}
input:focus{
    border: 2px solid #d8e3e7;
  background: #51c4d3;
}
.contenido2 {
    width: 70%;

    margin-left: 100px;
    margin-right: 100px;

    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;

    margin-top: 4mm;
    margin-bottom: 4mm;
    background-color: #126e82;
    border-radius: 4mm;

    justify-self: center;
}
.contenido2 .selec {
    margin: 10px;
    
}
.contenido2 a:hover{
    background-color: #51c4d3;
    border-radius: 2px;
}

.contenido {
    width: 100%;

    grid-column-start: 3;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 4; 


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 65%;
    margin: auto;
}
.contenido  .titulo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
}

.contenido .descripcion, .contenido .titulo{
    padding-top: 25px;
}

.contenido .descripcion div *{
    padding-left: 5px;
    padding-right: 5px;
}

.contenido .descripcion div p {
    margin-top: 3mm;
    margin-left: 2mm;
    margin-right: 2mm;

}
.contenido .descripcion img {
    padding: 3mm;
    width: 150px;
    height: 150px;
}

.contenido .descripcion div{
    display: flex;
    flex-wrap: nowrap;
}
.articulo {
    margin: 10px;
    background-color: #126e82;
    border-radius: 4mm;
}
/**/

.pie{
    margin-top: 50px;
    margin-bottom: 0;
    width: auto;

    text-align: center;

    background-color: #132c33;
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 7;
    
    

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
